html
	head
		title!= title
		link(href="/css/main.css", rel="stylesheet")
		script(src="/js/jquery.js")
		script(src="/socket.io/socket.io.js")
		script(src="/js/ws.js")
		script(src="/js/main.js")
	body
		.background
			.left_up
			.left_down
			.right_up
			.right_down
		.main
			.outside
				input#inputTag.text_field(placeholder="世界编号")
			.inside
