body {
  margin: 0;
  padding: 0;
  background-color: #1A1A1A;
  width: 100vw;
  height: 100vh;
  cursor: default;
}

.container {
  width: 100vh;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

.container img {
  width: 100%;
  height: 100%;
}

.container #canvas {
  
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
}

.container #points {
  
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99999;
}

.container .ice_cream {
  position: absolute;
  left: calc(50vw - 50vh + 619px);
}

.background {
  z-index: 9999;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.left_up {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 30%;
  background-image: url(../images/MapLeftUp.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.left_down {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
  height: 30%;
  background-image: url(../images/MapLeftDown.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 100%;
}

.right_up {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 30%;
  background-image: url(../images/MapRightUp.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.right_down {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
  height: 30%;
  background-image: url(../images/MapRightDown.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.time {
  position: absolute;
  top: 50px;
  right: 30px;
  width: 20vw;
  height: 10vw;
  margin: 0 auto;
  background-image: url(../images/TimeDown.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 9999999;
}

.time .text {
  font-size: 2vw;
  font-weight: 900;
  color: #FACA00;
  position: relative;
  text-align: center;
  top: 3.4vw;
}

.value {
  width: 340px;
  height: 112px;
  position: absolute;
  left: 50px;
  bottom: 80px;
  background-image: url(../images/value.png);
  background-size: contain;
  background-position: left bottom;
  background-repeat: no-repeat;
  z-index: 9999;
}

.hp {
  position: relative;
  bottom: -11px;
  left: 76px;
  width: 250px;
  height: 18px;
}

.hp .color {
  height: 100%;
  background-color: #FACA00;
}

.heat {
  position: relative;
  bottom: -40px;
  left: 76px;
  width: 170px;
  height: 10px;
}

.heat .color {
  height: 100%;
  background-color: #FACA00;
}

.water {
  position: relative;
  bottom: -66px;
  left: 76px;
  width: 170px;
  height: 10px;
}

.water .color {
  height: 100%;
  background-color: #FACA00;
}

.dietimes {
  
}






